<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">About Me</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <!-- python -->
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-python"></i>
                </div>
            </div>
        </div>
        <!-- linux -->
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-ubuntu"></i>
                </div>
            </div>
        </div>
        <!-- avatar -->
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="{{ site.author.head_img | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">{{ site.author.last_name }}</span> {{ site.author.first_name }}</h4>
                <ul class="list-inline social-icon">
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="{{ site.author.scholar_username }}" target="blank"><i class="ai ai-google-scholar"></i></a></li>
		    <li><a href="{{ site.author.linkedin_username }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- html -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-shell"></i>
                </div>
            </div>
        </div>
        <!-- docker -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
            </div>
        </div>
    </div>
<div class="row">
<div style="max-width: 640px; margin: 0 auto; font-family: 'Helvetica Neue', sans-serif; color: #444; line-height: 1.7; font-size: 16px; text-align: left;">
  <p>
    I earned both my Bachelor's and Master's degrees from the 
    <span style="color: #333; font-weight: 500;">Department of Computer Science</span> and the 
    <span style="color: #333; font-weight: 500;">Department of Artificial Intelligence</span> at 
    <span style="color: #333; font-weight: 500;">the University of Seoul</span>.
  </p>
  
  <p>
    During my Master's program, I was jointly supervised by 
    <a href="https://scholar.google.com/citations?user=HWxRii4AAAAJ&hl=ko" target="_blank" style="color: #007bff; text-decoration: none; font-weight: 500;">Prof. Kyungwoo Song</a> at 
    <span style="color: #333; font-weight: 500;">Yonsei University</span> and 
    <a href="https://scholar.google.com/citations?user=wc_MQkoAAAAJ&hl=ko" target="_blank" style="color: #007bff; text-decoration: none; font-weight: 500;">Prof. Jiyeong Jung</a> at 
    <span style="color: #333; font-weight: 500;">the University of Seoul</span>.
  </p>

  <p>
    Starting in Fall 2025, I will begin my PhD in Computer Science at 
    <span style="color: #333; font-weight: 500;">the University of Texas at Dallas</span>.  
    My research focuses on enhancing the interpretability and reliability of AI systems, with interests in AI robustness, causal inference, and domain generalization and adaptation.
  </p>
</div>

</div>

</div>
