<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">Awards</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <p><i class="fa fa-graduation-cap fa-3x"></i></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <ul style="list-style-type: none">
        <li class="entry">
          <h2><strong>Summer Academic Paper Presentation Conference</strong></h2>
          <i>Korean Data Analysis Society (KDAS)</i> 2023, July<br />
          An award for 'Bibimbap : Pre-trained models ensemble for Domain Generalization'
          <!-- A link can be inserted here if available -->
        </li>
        <li class="entry">
          <h2><strong>The Best Paper Honorable Mention Award</strong></h2>
          <i>International Joint Conference on Artificial Intelligence (IJCAI)</i> 2024, August<br />
          An award for "Sequential Treatment Effect Estimation with Variational Transformers" from IJCAI 2024 workshop AI4TS
          <!-- A link can be inserted here if available -->
        </li>
      </ul>

<!--       <h1>2023</h1> -->
      <!-- Include any 2023 publications or under review papers here if needed -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; Machine Learning and Artificial Intelligence Lab @ Yonsei University</strong></p>
    </div>
  </div>
</div>
