<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <p><a href="https://scholar.google.com/citations?user=8FaxQowAAAAJ"><i class="fa fa-graduation-cap fa-3x"></i></a></p>
      <p><a href="https://scholar.google.com/citations?user=8FaxQowAAAAJ&hl=ko">Google Scholar</i></a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
<!--       <h1>2024</h1> -->
<!--       <h2>Peer Reviewed</h2> -->
      <h1>Peer Reviewed</h1>
      <ul style="list-style-type: none">
        <li class="entry">
          <h2><strong>Bibimbap: Ensembling Diverse Pretrained Models for Domain Generalization in Domain Shifted Task</strong></h2>
          <b>Jinho Kang</b>, Taero Kim, Yewon Kim, Changdae Oh, Jiyoung Jung, Rakwoo Chang, and Kyungwoo Song<br />
          Pattern Recognition 2024. (SCIE, JCR 2022 IF=8.0)
          <!-- A link can be inserted here if available -->
        </li>
        <li class="entry">
          <h2><strong>Sequential Treatment Effect Estimation with Variational Transformers: Application to COVID-19 Infection Clusters</strong></h2>
          <b>Jinho Kang</b>, Sungjun Lim, Hojun Park, Jaehun Jung, Jiyoung Jung, and Kyungwoo Song<br />
          IJCAI 2024 Workshop (AI for Time Series Analysis), <strong style="color: red;">The Best Paper Honorable Mention Award</strong>
          <!-- A link can be inserted here if available -->
        </li>
        <li class="entry">
          <h2><strong>Few-Shot PPG Signal Generation via Guided Diffusion Models</strong></h2>
          <b>Jinho Kang</b>, Yongtaek Lim, KyuHyung Kim, Hyeonjeong Lee, KwangYong Kim, Minseong Kim, Jiyoung Jung, and Kyungwoo Song<br />
          IEEE Sensors Journal 2024. (SCIE, JCR 2022 IF=4.3)
          <!-- A link can be inserted here if available -->
        </li>
        <li class="entry">
          <h2><strong>Flat Posterior Does Matter For Bayesian Model Ensemble</strong></h2>
          Sungjun Lim, Sooyon Kim, Jeyoon Yeom, Hoyoon Byun, <b>Jinho Kang</b>, and Kyungwoo Song<br />
          UAI 2025 (AI Top Conference).
          <!-- A link can be inserted here if available -->
        </li>
        <li class="entry">
          <h2><strong>Multi-Query Frequency Prompting for Biosignal Domain Adaptation</strong></h2>
          <b>Jinho Kang*</b>, Hoyoon Byun*, Taero Kim, Yewon Kim, Jiyoung Jung, and Kyungwoo Song<br />
          Knowledge-Based System 2025. (SCIE, JCR 2024 IF=7.6)
          <!-- A link can be inserted here if available -->
        </li>
      </ul>

<!--       <h2>Under Review</h2> -->
      <h1>Under Review</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Causal Effect Variational Transformer for Social Distancing and COVID-19 Infection Cluster Analysis</strong></h2>
          <b>Jinho Kang</b>, Sungjun Lim, Hojun Park, Jaehun Jung, Jiyoung Jung, and KyungWoo Song<br />
          (Submitted to Top Tier Conference 2025.)
          <!-- A link can be inserted here if available -->
        </li>
        <li class="entry">
          <h2><strong>CBPE: Causal relation-aware Blood Pressure Estimation with Multimodal Data</strong></h2>
          Hoyoon Byun, Sumin Park, <b>Jinho Kang</b>, Hyeonjeong Lee, Minseong Kim, Doosik Kim, Kwangyong Kim and Kyungwoo Song<br />
          (Submitted to AI Conference 2025.)
          <!-- A link can be inserted here if available -->
        </li>
        <li class="entry">
          <h2><strong>Enhancing Global and Local Context Modeling in Time Series Through Multi-Step Transformer-Diffusion Interaction</strong></h2>
          Dagyeong Na, <b>Jinho Kang</b>, Byoungwoo Kang, Junseok Kwon<br />
          (Submitted to AI Conference 2025.)
          <!-- A link can be inserted here if available -->
        </li>
      </ul>

<!--       <h1>2023</h1> -->
      <!-- Include any 2023 publications or under review papers here if needed -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; Machine Learning and Artificial Intelligence Lab @ Yonsei University</strong></p>
    </div>
  </div>
</div>
